<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>stshine的个人主页</title>
  <link rel="stylesheet" href="{{ get_url(path="normalize.css") | safe }}">
  <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
</head>
<body>
  <div class="container">
    <header class="site-header">
      <a class="site-logo" href="/">
        stshine的个人主页
      </a>
      <section class="header-links">
        <a class="header-link" href="/blog">
          博客
        </a>
        <a class="header-link" href="/typography">
          Typography
        </a>
      </section>
    </header>
    {% block content %} {% endblock %}
  </div>
</body>
</html>
